@model DCMS.WEB.MVC.Models.Message

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>
<h3>Details</h3>
<p>@Html.DisplayFor(m => m.Description)</p>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
